*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  background: gray;
  height: 100vh;
}

.playground {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2px;
  height: 50vw;
  width: 50%;
  background-color: #494949;
}

.boxes {
  background: rgb(56, 56, 56);
  width:30%;
  height: 30%;
  cursor: pointer;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 250%;
}
.boxes:hover {
  background: rgb(100, 100, 100);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.Turn
{
  margin-top: 20px;
  font-size: 24px;
  color: white;
}